<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="imosystem.amigosecreto">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:label="Amigo Secreto"
        android:allowBackup="true"
        android:icon="@drawable/gift"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sms_pessoas" />
        <activity android:name=".telaNomesInstantaneo" />
        <activity android:name=".telaSorteioInstantaneo"></activity>
    </application>

</manifest>